{% extends 'base.html' %}

{% block content %}
<!-- all data from meter -->
    <h1 class="title">{% block title %} Meter {% endblock %}</h1>
    <div class="content">
        {% for student in data %}
            <div class="student">
                <p><b>#{{ student.id }}</b></p>
                <b>
                    <p class="name">{{ student.label }}</p>
                </b>
                <button type="button" class="btn btn-outline-secondary"><a href = 'http://localhost:5000/meters/x/url/detail?id={{student.id}}'>Click here to see info!</a></button>
                
            </div>
            
        {% endfor %}
    </div>
{% endblock %}