{% extends 'base.html' %}

{% block content %}
    <!-- seared by input from url -->
    <h1 class="title">{% block title %} Search Meter {% endblock %}</h1>
    <div class="content">
        {% for student in search %}
            <div class="student">
                <p><b>#{{ student.id }}</b></p>
                <b>
                    <p class="name">{{ student.meter_id }}</p>
                </b>
                <p>{{ student.timestamp }} Established Date.</p>
                <p>Value: {{ student.value }}</p>
                
            </div>
        {% endfor %}
    </div>
    <!-- sorted json data -->
    <h1 class="title">Sorted json Meter According To TimeStamps</h1>
    <div class="content">
        {% for student in jsonobj %}
            <div class="student">
                <p><b>#{{ student.id }}</b></p>
                <b>
                    <p class="name">{{ student.meter_id }}</p>
                </b>
                <p>{{ student.timestamp }} Established Date.</p>
                <p>Value: {{ student.value }}</p>
                
            </div>
        {% endfor %}
    </div>
 
{% endblock %}